<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matthewsanchez.petcare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.SignUp"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthewsanchez.petcare.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.PetProfileList"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthewsanchez.petcare.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.SampleText"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.SignUp">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthewsanchez.petcare.ui.SignUp" />
        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.createGroup"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.SignUp">

            <!--
            The meta-data tag is required if you support API level 15 and lower
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PetProfileList" />
            -->
        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.createJoin"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.SignUp">

            <!--
            The meta-data tag is required if you support API level 15 and lower
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
            -->
        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.TaskList"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.SignUp" >

        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.CreateReTask"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.SignUp" >

        </activity>
        <activity
            android:name="com.example.matthewsanchez.petcare.ui.CreateOneTask"
            android:parentActivityName="com.example.matthewsanchez.petcare.ui.SignUp" >

        </activity>
    </application>

</manifest>